$beige: rgb(255, 244, 238);
$night: #0c0f0a;
$blue: #b9e5ec;
$coral: rgb(253, 175, 187);
$darkPurple: rgb(53 52 109);

$backgroundColor: $beige;

$borderRadius: 10px;

@mixin error() {
  color: #ff0000;
}

@mixin loading() {
  font-weight: bold;
  color: #007bff;
}

@mixin page() {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin pageHeading() {
  font-size: 24px;
  margin-bottom: 30px;
}

@mixin btn-style() {
  background-color: transparent;
  color: $darkPurple;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

@mixin backBtn() {
  @include btn-style();
  background-color: $blue;
  margin: 0px 10px;
}
