@use "./style/theme.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  // text-align: center;
}

body {
  background-color: theme.$backgroundColor;
  // color: theme.$night;
  color: theme.$darkPurple;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-left: 200px;
  color: #777;
  font-style: italic;

  @media screen and (max-width: 470px) {
    margin-left: 100px;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: theme.$darkPurple;
      text-decoration: underline;
      // background-color: theme.$coral;
      // border-radius: 2px;
      // padding: 0px 2px;
    }
  }
}
